/*banner section start*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}

.banner{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    width: 1920px;
    height: 130px;
    flex-shrink: 0;

}
.txt-icn{
    display: flex;
    flex-wrap: wrap;

}
.controller-icon{
    padding-left: 240px;
    padding-top: 20px;
}
.gamer{
    padding-top: 8px;
    padding-left: 10px;
}
.gmrs{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.links ul{
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
    padding-left: 900px;
    padding-top: 20px;
list-style-type: none;
}
.links{


}
.links .follow{
    border-radius: 8px;
    border-width: 15px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 05px;
}
.yt-logo{
    width: 20px;
    height: 16px;
    flex-shrink: 0;
    padding-top: 4px;
}
.tiktok-logo{
    width: 20px;
    height: 16px;
    padding-top: 4px;
    
}



.details-header{
    display: flex;
}
.play{
    background-image: url(./images/Group\ 14.png);
    width: 901px;
height: 700px;
flex-shrink: 0;

}
.goat-section{
    display: flex;
}
.play-like{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.goat{
    text-align: center;
font-family: Work Sans;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
padding-right: 260px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.media{
color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.media .frame-icn{
    padding-left: 180px;
    text-align: left;
}




.btns{
    display: flex;
    padding-left: 180px;
    gap: 30px;


}
.btns .sign{
    font-weight: bold;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
text-decoration: none;
color: #FFF;


}
.btns .go{
    font-weight: bold;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
text-decoration: none;
color: #FFF;
}

/*end*/

/*we-are-gamer started*/
.we-are-gamer{
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}
.we-are{
    display: flex;

}
.we-are .image1{
    padding-left: 240px;
}
.gamers{
    
    text-align: right;
    padding-left: 200px;
    padding-top: 78px;
}
.gamers .txt1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.gamer .txt2{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.gamers .btn3{
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.gamers .txt7{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px;
color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;

}


/*main section start*/

.main{
    width: 1920px;
height: 800px;
background: #FFF;
}

.txt-all{
    color: #0B0223;
text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-right: 300px;
}


.txts-all .txt-2{
    
color: #0B0223;
text-align: center;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.txts-all .txt-2 .og{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.txts-all .txt-3{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.photoss{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5px;

}
.photoss img:hover{
    border: 5px solid #F948B2;
    background-image: over;
    align-items: center;
    opacity: 10;
}



/*section 1 end*/

.texts10{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
padding-left: 300px;
padding-top: 100px;

}
.texts10 .h2{
}

.texts10 .h2 .inst{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top: 10px;
}


.texts10 .h3{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-top: 10px;
}




.main2nd{
    display: flex;
}

.collector{
    padding-left:300px ;
}

.side-photo{
    position: relative;
    bottom: 300px;
    right: 100px;
}


/*2nd section*/


.texts11{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
padding-left: 200px;
padding-top: 200px;

}

.texts11 .h4 .inst1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.texts11 .h5{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}




.main3nd{
    display: flex;
}

.collector1{
    padding-left:300px ;
}

.side-photo1{
    position: relative;
    bottom: 250px;
    left: 520px;
}

/*3rd section done*/

.all-total{
    display: flex;
    width: 1920px;
    height: 821px;
    flex-shrink: 0;
    background : linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.list{
    display: flex;
}
.total1 .imgg{
    background-image: url(./images/reverse.png);
    padding-left: 50px;
}
.txtx{
padding-left: 150px;
}

.txtx .careers{
    width: 426px;
    color: #FFF;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;

}
.txtx .gameis{
    width: 680px;
    color: #FFF;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.all-total .list{
    width: 680px;
    padding-left: 130px;
    color: #FFF;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.all-total .seeall{
    font-weight: bold;
    text-decoration-color: #FF42A5;
    text-decoration: none;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FFF;


}
.btn20{
    padding-left: 150px;
}

/*last section*/
.main5nd{
    width: 1920px;
height: 427px;
flex-shrink: 0;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.iconsall{
    display: flex;
    width: 1920px;
    height: 427px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.iconspck{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.iconspck .div:hover{
    border: 10px solid #F948B2;
    overflow: hidden;
}
.iconspck figcaption{
    padding-left: 5px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.iconspck div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsall .extra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.iconsall .extra .figcaption{
    padding-left: 5px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.iconsall .extra .div{
    padding-left: 5px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*footer start*/

.footer{
    width: 1920px;
height: 636px;
flex-shrink: 0;
background: #0B0223;
}
.gmr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
}

.gmr .txts10{
    text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FFF;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.txts11 .G{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.alink ul{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 50px;
    padding-left: 650px;
    
}
.alink ul li a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding-left: 750px;
    padding-top: 60px;
}
.last-list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.last-list ul li{
    text-decoration: none;
}
.last{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/*starting responsive for mobile devices*/

@media only screen and (max-width: 768px) {
    .banner{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: center;
    }
    
}